   # GOOGLE CAPSTONE PROJECT

TITLE : CYCLISTIC BIKE-SHARE

AUTHOR : MOHD ASIF TAJ

DATE : 01/05/2022

> ### Case Study: How Does a Bike-Share Navigate Speedy Success?

![cycle](https://miro.medium.com/max/293/1*ddC1KfTAHBXjmGseS2drRw.png)

### > About The Company
In 2016, Cyclistic launched a successful bike-share offering. Since then, the program has grown to a fleet of 5,824 bicycles 
that
are geotracked and locked into a network of 692 stations across Chicago. The bikes can be unlocked from one station and
returned to any other station in the system anytime.

### Importing the necessary libraries

In [1]:
import pandas as pd

#### Reading all the csv/data file of the case study (data is from april 2020 to april 2022)

In [2]:
df1 = pd.read_csv(r'F:\google cap project\202004-divvy-tripdata.csv')
df2 = pd.read_csv(r'F:\google cap project\202005-divvy-tripdata.csv')
df3 = pd.read_csv(r'F:\google cap project\202006-divvy-tripdata.csv')
df4 = pd.read_csv(r'F:\google cap project\202007-divvy-tripdata.csv')
df5 = pd.read_csv(r'F:\google cap project\202008-divvy-tripdata.csv')
df6 = pd.read_csv(r'F:\google cap project\202009-divvy-tripdata.csv')
df7 = pd.read_csv(r'F:\google cap project\202010-divvy-tripdata.csv')
df8 = pd.read_csv(r'F:\google cap project\202011-divvy-tripdata.csv')
df9 = pd.read_csv(r'F:\google cap project\202012-divvy-tripdata.csv')
df10 = pd.read_csv(r'F:\google cap project\202101-divvy-tripdata.csv')
df11 = pd.read_csv(r'F:\google cap project\202102-divvy-tripdata.csv')
df12 = pd.read_csv(r'F:\google cap project\202103-divvy-tripdata.csv')
df13 = pd.read_csv(r'F:\google cap project\202104-divvy-tripdata.csv')
df14 = pd.read_csv(r'F:\google cap project\202105-divvy-tripdata.csv')
df15 = pd.read_csv(r'F:\google cap project\202106-divvy-tripdata.csv')
df16 = pd.read_csv(r'F:\google cap project\202107-divvy-tripdata.csv')
df17 = pd.read_csv(r'F:\google cap project\202108-divvy-tripdata.csv')
df18 = pd.read_csv(r'F:\google cap project\202109-divvy-tripdata.csv')
df19 = pd.read_csv(r'F:\google cap project\202110-divvy-tripdata.csv')
df20 = pd.read_csv(r'F:\google cap project\202111-divvy-tripdata.csv')
df21 = pd.read_csv(r'F:\google cap project\202112-divvy-tripdata.csv')
df22 = pd.read_csv(r'F:\google cap project\202201-divvy-tripdata.csv')
df23 = pd.read_csv(r'F:\google cap project\202202-divvy-tripdata.csv')
df24 = pd.read_csv(r'F:\google cap project\202203-divvy-tripdata.csv')
df25 = pd.read_csv(r'F:\google cap project\202204-divvy-tripdata.csv')

### Concatinating all the dataframe (df1 - df25) into one dataframe called 'df'

In [3]:
df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21,df22,df23,df24,df25], axis=0)

### Getting the general information from the data

In [4]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152.0,41.8964,-87.6610,41.9322,-87.6586,member
1,5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499.0,41.9244,-87.7154,41.9306,-87.7238,member
2,5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255.0,41.8945,-87.6179,41.8679,-87.6230,member
3,2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,216,Wood St & Augusta Blvd,657.0,41.9030,-87.6975,41.8992,-87.6722,member
4,27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323.0,41.8902,-87.6262,41.9695,-87.6547,casual

In [5]:
df.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
371244,C5A123D7BF8D350A,electric_bike,2022-04-22 15:54:11,2022-04-22 16:20:59,Streeter Dr & Grand Ave,13022,California Ave & North Ave,13258,41.892296,-87.612198,41.910475,-87.696894,member
371245,F7FCC7C26D8D137D,electric_bike,2022-04-21 20:18:17,2022-04-21 20:46:45,Streeter Dr & Grand Ave,13022,California Ave & North Ave,13258,41.892295,-87.612323,41.910475,-87.696894,member
371246,43D351300A40000A,classic_bike,2022-04-21 16:46:02,2022-04-21 17:15:05,Franklin St & Monroe St,TA1309000007,St. Clair St & Erie St,13016,41.880317,-87.635185,41.894345,-87.622798,member
371247,1618BFEEA7B566EF,electric_bike,2022-04-16 13:19:44,2022-04-16 13:37:31,Ashland Ave & Blackhawk St,13224,Southport Ave & Waveland Ave,13235,41.907094,-87.667217,41.948150,-87.663940,casual
371248,92C069001A6B17B1,electric_bike,2022-04-21 18:06:41,2022-04-21 18:11:49,Southport Ave & Clark St,TA1308000047,Southport Ave & Waveland Ave,13235,41.957102,-87.664184,41.948150,-87.663940,casual

### Checking the no of rows and column

In [6]:
df.shape

(9584529, 13)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9584529 entries, 0 to 371248
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 1023.7+ MB

### Started_at and ended_at column should be a datetime column but here it is object data type.

In [8]:
df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

### Checking no of null values in the data

In [9]:
df.isnull().sum()

ride_id                     0
rideable_type               0
started_at                  0
ended_at                    0
start_station_name     938438
start_station_id       939061
end_station_name      1014777
end_station_id        1015238
start_lat                   0
start_lng                   0
end_lat                  9771
end_lng                  9771
member_casual               0
dtype: int64

In [10]:
df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [11]:
df.describe()

          start_lat     start_lng       end_lat       end_lng
count  9.584529e+06  9.584529e+06  9.574758e+06  9.574758e+06
mean   4.190176e+01 -8.764587e+01  4.190203e+01 -8.764610e+01
std    4.570279e-02  2.852420e-02  4.579205e-02  2.832583e-02
min    4.164000e+01 -8.787000e+01  4.139000e+01 -8.897000e+01
25%    4.188169e+01 -8.766000e+01  4.188189e+01 -8.766000e+01
50%    4.189897e+01 -8.764182e+01  4.189967e+01 -8.764288e+01
75%    4.192947e+01 -8.762775e+01  4.192955e+01 -8.762775e+01
max    4.563503e+01 -7.379648e+01  4.216812e+01 -8.744000e+01

### Converting started_at and ended_at column into datetime column.

In [12]:
df['started_at']= pd.to_datetime(df['started_at'])
df['ended_at']= pd.to_datetime(df['ended_at'])

In [13]:
df.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
dtype: object

### Drop the unnecessary column from the dataset which are not useful for our analysis

In [14]:
df.drop(['ride_id','start_lat','start_lng','end_lat','end_lng','start_station_id','end_station_id'],axis= 1,inplace=True)

In [15]:
df.head()

,rideable_type,started_at,ended_at,start_station_name,end_station_name,member_casual
0,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,Lincoln Ave & Diversey Pkwy,member
1,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,Kosciuszko Park,member
2,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,Indiana Ave & Roosevelt Rd,member
3,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,Wood St & Augusta Blvd,member
4,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,Sheridan Rd & Lawrence Ave,casual

### Converting started_at date into the name of the days.

In [16]:
df['name_of_days'] = df['started_at'].apply(lambda x : x.strftime("%A"))

In [17]:
df.head()

,rideable_type,started_at,ended_at,start_station_name,end_station_name,member_casual,name_of_days
0,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,Lincoln Ave & Diversey Pkwy,member,Sunday
1,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,Kosciuszko Park,member,Friday
2,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,Indiana Ave & Roosevelt Rd,member,Wednesday
3,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,Wood St & Augusta Blvd,member,Tuesday
4,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,Sheridan Rd & Lawrence Ave,casual,Saturday

### Calculating difference between two dates (ended_at - started_at)

In [18]:
df['date_difference'] = df['ended_at']-df['started_at']

In [19]:
df.head()

,rideable_type,started_at,ended_at,start_station_name,end_station_name,member_casual,name_of_days,date_difference
0,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,Lincoln Ave & Diversey Pkwy,member,Sunday,0 days 00:26:49
1,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,Kosciuszko Park,member,Friday,0 days 00:08:09
2,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,Indiana Ave & Roosevelt Rd,member,Wednesday,0 days 00:14:23
3,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,Wood St & Augusta Blvd,member,Tuesday,0 days 00:12:12
4,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,Sheridan Rd & Lawrence Ave,casual,Saturday,0 days 00:52:55

### Calculating the duration in second using date_difference column

In [20]:
df['in_seconds'] = df['date_difference'].apply(lambda x: x.total_seconds())

In [21]:
df.head()

,rideable_type,started_at,ended_at,start_station_name,end_station_name,member_casual,name_of_days,date_difference,in_seconds
0,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,Lincoln Ave & Diversey Pkwy,member,Sunday,0 days 00:26:49,1609.0
1,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,Kosciuszko Park,member,Friday,0 days 00:08:09,489.0
2,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,Indiana Ave & Roosevelt Rd,member,Wednesday,0 days 00:14:23,863.0
3,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,Wood St & Augusta Blvd,member,Tuesday,0 days 00:12:12,732.0
4,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,Sheridan Rd & Lawrence Ave,casual,Saturday,0 days 00:52:55,3175.0

### Converting duration in seconds into hours and minutes

In [22]:
df['in_hours'] = df['in_seconds'].apply(lambda x: round(x/3600,2))
df['in_minutes'] = df['in_seconds'].apply(lambda x: round(x/60,2))

In [23]:
df.head()

,rideable_type,started_at,ended_at,start_station_name,end_station_name,member_casual,name_of_days,date_difference,in_seconds,in_hours,in_minutes
0,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,Lincoln Ave & Diversey Pkwy,member,Sunday,0 days 00:26:49,1609.0,0.45,26.82
1,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,Kosciuszko Park,member,Friday,0 days 00:08:09,489.0,0.14,8.15
2,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,Indiana Ave & Roosevelt Rd,member,Wednesday,0 days 00:14:23,863.0,0.24,14.38
3,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,Wood St & Augusta Blvd,member,Tuesday,0 days 00:12:12,732.0,0.20,12.20
4,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,Sheridan Rd & Lawrence Ave,casual,Saturday,0 days 00:52:55,3175.0,0.88,52.92

In [24]:
df.describe()

                 date_difference    in_seconds      in_hours    in_minutes
count                    9584529  9.584529e+06  9.584529e+06  9.584529e+06
mean   0 days 00:22:33.901804564  1.353902e+03  3.760784e-01  2.256503e+01
std    0 days 04:33:32.962979077  1.641296e+04  4.559161e+00  2.735494e+02
min           -21 days +19:50:02 -1.742998e+06 -4.841700e+02 -2.904997e+04
25%              0 days 00:06:55  4.150000e+02  1.200000e-01  6.920000e+00
50%              0 days 00:12:32  7.520000e+02  2.100000e-01  1.253000e+01
75%              0 days 00:23:08  1.388000e+03  3.900000e-01  2.313000e+01
max             40 days 18:40:02  3.523202e+06  9.786700e+02  5.872003e+04

### Dropping the rides with last less than 60 seconds

In [25]:
df[df['in_seconds']<=60].shape

(158426, 11)

In [26]:
df = df[df['in_seconds']>60]

In [27]:
df.shape

(9426103, 11)

### Now droping the date_difference and inseconds column from dataframe as it is not required for further analysis

In [28]:
df.drop(['date_difference','in_seconds'], axis = 1, inplace = True)

### Checking null value in the final dataset

In [29]:
df.isnull().sum()

rideable_type              0
started_at                 0
ended_at                   0
start_station_name    907841
end_station_name      978161
member_casual              0
name_of_days               0
in_hours                   0
in_minutes                 0
dtype: int64

### Dropping the null values

In [30]:
df.dropna(inplace = True)

In [31]:
df.isnull().sum()

rideable_type         0
started_at            0
ended_at              0
start_station_name    0
end_station_name      0
member_casual         0
name_of_days          0
in_hours              0
in_minutes            0
dtype: int64

### Final cleaned dataset

In [32]:
df.head()

,rideable_type,started_at,ended_at,start_station_name,end_station_name,member_casual,name_of_days,in_hours,in_minutes
0,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,Lincoln Ave & Diversey Pkwy,member,Sunday,0.45,26.82
1,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,Kosciuszko Park,member,Friday,0.14,8.15
2,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,Indiana Ave & Roosevelt Rd,member,Wednesday,0.24,14.38
3,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,Wood St & Augusta Blvd,member,Tuesday,0.20,12.20
4,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,Sheridan Rd & Lawrence Ave,casual,Saturday,0.88,52.92

In [33]:
df.to_csv("cycle data.csv", index = False)

##                                                             THANK YOU